<div class="row">
    <ol class="breadcrumb">
        <li><a ui-sref="home">Home</a></li>
        <li><a ui-sref="categories">Categories</a></li>
        <li class="active">Items</li>
      </ol>
    <div class="col-md-12 text-center">
        <h1>Items for Category - {{ItemsCtrl.category}}</h1>
    </div>
  <div class="col-md-12" style="height: 70vh; overflow-y: scroll; overflow-x: hidden;">
    <ol class="list-group" ng-if="ItemsCtrl.listItems.length > 0">
        <li class="list-group-item" ng-repeat="item in ItemsCtrl.listItems">
            <h4 class="list-group-item-heading">{{item.name}}</h4>
            <p class="list-group-item-text">{{item.description}}</p>
        </li>
    </ol>
    <div ng-if="ItemsCtrl.listItems.length === 0">
        <h5>No items found!</h5>
    </div>
  </div>
</div>
